<div class="grid-wrap">
  <div id="header-loox">
     <div class="summary">
      <div data-panel="dist" class="summary-content b">
        <div data-panel="dist" class="summary-text">
          <span data-panel="dist">472 Reviews</span>
          <button data-panel="dist" class="header-chevron">
            <svg data-panel="dist" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="chevron-open"><path data-panel="dist" d="M7.11098 5.15691L2.16098 0.206909L0.746979 1.62091L7.11098 7.98491L13.475 1.62091L12.061 0.206911L7.11098 5.15691Z" fill="black"></path></svg>
            <svg data-panel="dist" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="chevron-closed chevron-hide"><path data-panel="dist" d="M6.88902 3.03498L11.839 7.98499L13.253 6.57099L6.88902 0.206985L0.525021 6.57098L1.93902 7.98498L6.88902 3.03498Z" fill="black"></path></svg>
          </button>
        </div>
       </div>
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Loox Reviews",
    "settings": [],
  "blocks": [
    {
     "type": "Review",
     "name": "Review",
     "settings" : [
      {
       "id": "review_product",
       "type": "product",
       "label": "Product"
      },
      {
       "id": "review_pic",
       "type": "image_picker",
       "label": "Image"
      },
      {
        "id": "review_name",
        "type": "text",
        "label": "Name"
      },
      {
        "id": "review_caption",
        "type": "textarea",
        "label": "Caption"
      },
      {
        "id": "review_date",
        "type": "text",
        "label": "ex: 11\/12\/2021"
      },
      {
        "type": "select",
        "id": "review_rating",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "label": "Rating"
      }
     ]
  }
 ],
 "presets": [
    {
      "name": "Loox Reviews",
      "category": "Digital Brandz"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
